@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins/webpopins/poppins-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/poppins/webpopins/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/webpopins/poppins-regular-webfont.woff2")
    format("woff2")
    url("../fonts/poppins/webpopins/poppins-regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto/webroboto/roboto-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/roboto/webroboto/roboto-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto/webroboto/roboto-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/roboto/webroboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  position: relative;
}

.panel {
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  position: relative;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-family: "poppins";
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 680px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(5) {
    display: none;
  }
}
